<div class='col-md-6'>
	<div class='panel panel-default portfolio-overflow'>
		<div class='panel-heading'>
			<h4 class='panel-title'>Portfolio Companies</h4>
		</div>
		<table class="table table-striped">
			<tbody>
				<tr class='panel-body' ng-repeat='company in companies'>	
					<div class='empty-portfolio' ng-show='companies.length === 0'>Add companies using the search bar in the upper left</div>
					<td>{{ company }}</td>
					<td><btn class='btn btn-sm btn-warning pull-right' ng-click='removeFromPortfolio($index)'>Delete</btn></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>