<div class='row'>
	<div class='col-md-12'>
		<div class='panel panel-default'>
			<div class='panel-heading panel-bg'>
				<h1 class='port-title'>Portfolios</h1>
			</div>
			<div class='panel-body'>
				<tabset>
					<tab ng-repeat="tab in tabs" heading="{{ tab.title }}" ui-sref="portfolio.port({portId: tab.id})" active="tab.active">
						<h3><a editable-text='tab.title'>{{ tab.title || "empty" }}</a></h3>
					</tab>
				</tabset>
				<br>
				<div class='row'>
					<div class='col-md-6'>
						<input ng-model='search' class='form-control' placeholder='Select Drugs/Companies/Subsidiaries to add to this Portfolio'>
					</div>
				</div>
				<br>
				<div class='row'>
					<div ui-view='results'></div>
					<div ui-view='events'></div>
				</div>
				<div class='row'>
					<div ui-view='companies'></div>
					<div ui-view='drugs'></div>
				</div>
			</div>
		</div>	
	</div>
</div>