<div class='row'>
	<div class='col-md-12'>
		<div class='panel panel-default'>
			<div class='panel-heading panel-bg'>
				<h1 class='port-title'>Portfolios</h1>
			</div>
			<div class='panel-body'>

				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="#">Portfolio 1</a></li>
					<li role="presentation"><a href="#">Portfolio 2</a></li>
					<li role="presentation"><a href="#">Portfolio 3</a></li>
					<li role="presentation"><a href="#">Portfolio 4</a></li>
					<li role="presentation"><a href="#">Portfolio 5</a></li>
				</ul>

				<h3><a href='#'>Portfolio 1</a></h3>
				<br>
				<div class='row'>
					<div class='col-md-6'>
						<input ng-model='search' class='form-control' placeholder='Select Drugs/Companies/Subsidiaries to add to this Portfolio'>
					</div>
				</div>
				<br>
				<div class='row'>
					<div class='col-md-6'>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>Search Results</h4>
							</div>
							<div class='panel-body' ng-repeat='item in portItems | filter: search' >
								<p>{{ item }} <btn class='btn btn-sm btn-primary pull-right' ng-click='addToPortfolio($index)'>Add</btn></p>
							</div>
						</div>
					</div>
					<div class='col-md-6'>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>Portfolio Events</h4>
							</div>
							<div class='panel-body'>
								<table class='table'>
									<thead>
										<th>Product/Company</th>
										<th>Headline</th>
									</thead>
									<tbody ng-repeat='event in events'>
										<tr>
											<td><a href='#'>{{ event.product }}</a></td>
											<td><a href='#'>{{ event.headline }}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-6'>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>Portfolio Companies</h4>
							</div>
							<div class='panel-body' ng-repeat='company in companies'>	
								<p>{{ company }} <btn class='btn btn-sm btn-warning pull-right' ng-click='removeFromPortfolio($index)'>Delete</btn></p>
							</div>
						</div>
					</div>
					<div class='col-md-6'>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>Portfolio Drugs</h4>
							</div>
							<div class='panel-body' ng-repeat='drug in drugs'>		
								<p>{{ drug }}<btn class='btn btn-sm btn-warning pull-right' ng-click='removeDrugFromPortfolio($index)'>Delete</btn></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>