<div class='row'>
	<div class='col-md-12'>
		<div class='panel panel-default'>
			<div class='panel-heading panel-bg'>
				<h1 class='port-title'>Portfolios</h1>
			</div>
			<div class='panel-body'>

				<ul class="nav nav-tabs">
				  <li role="presentation" class="active"><a href="#">Portfolio 1</a></li>
				  <li role="presentation"><a href="#">Portfolio 2</a></li>
				  <li role="presentation"><a href="#">Portfolio 3</a></li>
				  <li role="presentation"><a href="#">Portfolio 4</a></li>
				  <li role="presentation"><a href="#">Portfolio 5</a></li>
				</ul>

				<h3><a href='#'>Portfolio 1</a></h3>
				<br>
				<div class='row'>
					<div class='col-md-6'>
						<input ng-model='search' class='form-control' placeholder='Select Drugs/Companies/Subsidiaries to add to this Portfolio'>
					</div>
				</div>
				<br>
				<div class='row'>
					<div class='col-md-6'>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>Search Results</h4>
							</div>
							<div class='panel-body'>
								<p>Actavis <btn class='btn btn-sm btn-primary pull-right'>Add</btn></p>
								<br>
								<p>Arava <btn class='btn btn-sm btn-primary pull-right'>Add</btn></p>
								<br>
								<p>Avacor <btn class='btn btn-sm btn-primary pull-right'>Add</btn></p>
								<br>
								<p>Avagard <btn class='btn btn-sm btn-primary pull-right'>Add</btn></p>
							</div>
						</div>
					</div>
					<div class='col-md-6'>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>Portfolio Events</h4>
							</div>
							<div class='panel-body'>
								<table class='table'>
									<thead>
										<th>Product/Company</th>
										<th>Headline</th>
									</thead>
									<tbody>
										<tr>
											<td><a href='#'>Avacor</a></td>
											<td><a href='#'>Docetaxel Drug Label Update: A Comparative Safety Analysis</a></td>
										</tr>
										<tr>
											<td><a href='#'>Arava</a></td>
											<td><a href='#'>AEI Analysis Produces Skin Cancer Safety Signal for Xeljanz Prior to FDA Safety Alert</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-6'>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>Portfolio Companies</h4>
							</div>
							<div class='panel-body'>	
								<p>Regeneron <btn class='btn btn-sm btn-warning pull-right'>Delete</btn></p>
								<br>
								<p>Biogen <btn class='btn btn-sm btn-warning pull-right'>Delete</btn></p>
								<br>
								<p>Celgene <btn class='btn btn-sm btn-warning pull-right'>Delete</btn></p>
							</div>
						</div>
					</div>
					<div class='col-md-6'>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>Portfolio Drugs</h4>
							</div>
							<div class='panel-body'>		
								<p>Avandia<btn class='btn btn-sm btn-warning pull-right'>Delete</btn></p>
								<br>
								<p>Avastin<btn class='btn btn-sm btn-warning pull-right'>Delete</btn></p>
								<br>
								<p>Ambien<btn class='btn btn-sm btn-warning pull-right'>Delete</btn></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>